<!DOCTYPE html>
<html lang="en" ng-app="taskTracker">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tast Tracker</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  
  <script src="https://opensource.keycdn.com/angularjs/1.5.8/angular.min.js"></script>
  <script src="http://unpkg.com/angular-ui-router@latest/release/angular-ui-router.min.js"></script>
  <script src="/components/app/app.js"></script>
  <script src="/components/projects/projects.service.js"></script>
  <script src="/components/projects/projects/projects.component.js"></script>
  <script src="/components/projects/project/project.component.js"></script>
  <script src="/components/projects/add-project/add-project.component.js"></script>
  <script src="/components/projects/edit-project/edit-project.component.js"></script>
  <script src="/components/signin/signin.component.js"></script>
  <script src="/components/signin/signin.service.js"></script>
  <script src="/components/users/users.service.js"></script>
  <script src="/components/users/users/users.component.js"></script>
  <script src="/components/users/user/user.component.js"></script>
  <script src="/components/task/task.component.js"></script>
  <script src="/components/task/task.service.js"></script>
  <script src="/components/task/add-task/add-task.component.js"></script>
  <script src="/components/task/edit-task/edit-task.component.js"></script>
  <script src="/components/task/disqus/disqus.component.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
  <base href="/" />
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="projects">Task Tracker</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ui-sref="projects" ui-sref-active="active"><a ui-sref="projects" ui-sref-active="active">Projects</a></li>
          <li ui-sref="users" ui-sref-active="active"><a ui-sref="users" ui-sref-active="active">Users</a></li>
          <li ui-sref="user({id: user.id})" ui-sref-active="active"><a ui-sref="user({id: user.id})" ui-sref-active="active">My profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="!user"><a href="#">Sing Up</a></li>
          <li ng-if="!user" ui-sref="signin" ui-sref-active="active"><a ui-sref="signin" ui-sref-active="active">Sign In</a></li>
          <li ng-if="user" ui-sref="signout" ui-sref-active="active"><a ui-sref="signout" ui-sref-active="active">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main">
    <div class="container">
      <ui-view>LOADING...</ui-view>
    </div>
  </div>
</body>
</html>